<h1>Listing Taxonomies</h1>

<table class="listing">
  <thead>
  <tr>
    <th>Name</th>
    <th class="options"></th>
  </tr>
  </thead>

  <tbody>
    <% @taxonomies.each do |taxonomy| %>
      <tr>
        <td><%= link_to taxonomy.name, edit_admin_taxonomy_path(taxonomy) %></td>
        <td>
          <%= link_to 'Destroy', admin_taxonomy_path(taxonomy), confirm: 'Are you sure?', method: :delete %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br />

<%= link_to 'New Taxonomy', new_admin_taxonomy_path %>
