$theme_color: #0C79A3

body
  font-size: 100%
  color: #333
  font-family: "Helvetica Neue", "Verdana", "Arial", "Sans-serif"
  background: #fdfdfd

  -webkit-font-smoothing: antialiased
  -moz-font-smoothing: antialiased
  -ms-font-smoothing: antialiased
  font-smoothing: antialiased

  -moz-text-shadow: 0 0 1px rgba(0, 0, 0, 0.01)
  -ms-text-shadow: 0 0 1px rgba(0, 0, 0, 0.01)
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.01)

  -webkit-text-stroke: 1px transparent
  -moz-text-stroke: 1px transparent
  -ms-text-stroke: 1px transparent
  text-stroke: 1px transparent

h1, h2, h3, h4, h5
  font-weight: 200
  .content &
    line-height: 26px
