<!DOCTYPE html>
<html>
<head>
  <title>Admin Panel</title>
  <%= stylesheet_link_tag    "admin_sessions_manifest", :media => "all" %>
  <%= javascript_include_tag "admin_sessions_manifest" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="global">
    <div id="main">
      <div class="main_container">
        <%= yield %>
      </div>
    </div>
  </div>

</body>
</html>
