<h1>Recomended books</h1>
<ul>
  <li>
    Domain-Driven Design
    <span class="detail">(Eric Evans)</span>
  </li>
  <li>
    Growing Object-Oriented Software, Guided by Tests
    <span class="detail">(Steve Freeman, Nat Pryce)</span>
  </li>
  <li>
    A Gift to My Children
    <span class="detail">(Jim Rogers)</span>
  </li>
</ul>
