body {
  font-size: 76%;
  font-family: "Lucida Sans";
  background: image-url('admin/layout/background.jpg') #efefef;
}

h1, h2, h3, h4, h5 { 
  font-family: "Myriad Pro";
}

a { color: #065796; }

span.detail {
  font-size: 0.9em;
  color: #777;
}

#global {
  width: 100%;
  background: image-url('admin/layout/header.jpg') repeat-x;
  display: table;
}

.centralizer {
  width: 960px;
  margin: 0 auto;
  display: table;
}

header {
  display: table;
  position: relative;
  height: 75px;
  width: 100%;
  color: white;

  .header_container {
    width: 960px;
    display: table;
    margin: 20px auto;
    
    h1 { font-size: 2.5em; }
  }
}

nav {
  width: 100%;
  display: table;
  margin: 0 auto;
  position: relative;

  ul {
    list-style: none;
    margin: 0;

    li {
      float: left;
      margin: 0 0 0 5px;

      a {
        background: #eee;
        padding: 6px 12px;
        display: table;
        text-decoration: none;
      }

      a:hover {
        background: white;
      }
    }

    li.current a {
      background: #fdfdfd;
    }
  }
}

#main {
  display: table;
  width: 960px;
  background: white;
  margin: 0 auto;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  border-radius: 2px;

  .main_container {
    margin: 10px;
  }

  h1 {
    font-weight: 200;
    margin-bottom: 15px;
  }

  .content {
    display: table;
    float: left;
    width: 225px;
    margin: 0 0 0 20px;

  }

  .content:first-child {
    margin: 0;
  }
}
