<div class="big_picture">
  <img src="/assets/personal/tokyo-woman.jpg" alt="Tokyo Woman" />
  <span class="description">
    Taken in Tokyo, 2012
  </span>
</div>

<div class="internal">
<h1>About</h1>

<div class="content content-2">
  <h1 class="category">Professional area</h1>
  <p>
    I work as Ruby developer and technical lead at
    Stack Builders, company based in NY. I study very hard
    the areas of software engineering and project management,
    with great interest in human psycology.
  </p>
  <p>
    These are some of the keywords that could represent my professional skills.
  </p>
  <p>
    <ul>
      <li>
        software engineering
        <span class="detail">(OOP, TDD, Agile)</span>
      </li>
      <li>
        Ruby, Javascript, Unix, Vim
        <span class="detail">(my daily job tools)</span>
      </li>
      <li>
        Social coding
        <span class="detail">
          (how one's code style impacts in the project success and how
          to prevent pitfalls)
        </span>
      </li>
      <li>
        user experience
        <span class="detail">
          (from code, interfaces, tests, how different aspects of software
          and hardware impacts users' happiness)
        </span>
      </li>
      <li>
        artificial intelligence
        <span class="detail">(my research hobby)</span>
      </li>
    </ul>
  </p>
  <p>
    I've put a lot of effort in the study of original concepts from Alan Kay on
    Object-Oriented Programming. Differently from what people tend to conclude,
    OOP and Functional Programming are not opposite. In fact, they're paradigms
    of totally different levels that can be applied in the same software
    architecture.
  </p>
  <p>
    These are some of the things I share here.
  </p>
</div>

<div class="content">
  <h1 class="category">Conferences</h1>
  <p>
    Biggest conferences I've been lately:
  </p>
  <ul>
    <li>
      RubyConf Brazil 2011
      <span class="detail">(São Paulo)</span>
    </li>
    <li>
      Euruko 2012
      <span class="detail">(Amsterdam)</span>
    </li>
    <li>
      Sapporo RubyKaigi 2012
      <span class="detail">(Japan)</span>
    </li>
    <li>
      RubyConf Brazil 2012
      <span class="detail">(São Paulo)</span>
    </li>
    <li>
      Euruko 2013 <strong>as speaker</strong>
      <span class="detail">(Athens)</span>
    </li>
    <li>
      BrazilJS 2013
      <span class="detail">(Porto Alegre)</span>
    </li>
    <li>
      RubyConf Brazil 2013
      <span class="detail">(São Paulo)</span>
    </li>
  </ul>
</div>

<div class="content">
  <h1 class="category">Contact</h1>
  <p>
    Ping me on Twitter at
    <a href="http://twitter.com/kurko" target="twitter">@kurko</a>. My Github
    profile is at <a href="http://github.com/kurko" target="github">github.com/kurko</a>.
  </p>
</div>
</div>
