<div class="body_background">

  <header>
    <div class="header_container">
      <nav>
        The Alex's Quest
      </nav>
      <div id="about_header">
        I am Alexandre de Oliveira, 26, software developer
        at Stack Builders, a NY based company.
      </div>
    </end>
  </header>

  <div id="global">
    <div id="main">
      <div class="main_container">
        <div id="photos_line">
          <img src="assets/tmp/01.jpeg" width="50" height="50" />
          <img src="assets/tmp/02.jpeg" width="50" height="50" />
          <img src="assets/tmp/03.jpeg" width="50" height="50" />
          <img src="assets/tmp/04.jpeg" width="50" height="50" />
          <img src="assets/tmp/05.jpeg" width="50" height="50" />
          <img src="assets/tmp/06.jpeg" width="50" height="50" />
          <img src="assets/tmp/07.jpeg" width="50" height="50" />
          <img src="assets/tmp/08.jpeg" width="50" height="50" />
          <img src="assets/tmp/01.jpeg" width="50" height="50" />
          <img src="assets/tmp/02.jpeg" width="50" height="50" />
          <img src="assets/tmp/03.jpeg" width="50" height="50" />
          <img src="assets/tmp/04.jpeg" width="50" height="50" />
          <img src="assets/tmp/05.jpeg" width="50" height="50" />
          <img src="assets/tmp/06.jpeg" width="50" height="50" />
          <img src="assets/tmp/07.jpeg" width="50" height="50" />
          <img src="assets/tmp/08.jpeg" width="50" height="50" />
          <img src="assets/tmp/01.jpeg" width="50" height="50" />
          <img src="assets/tmp/02.jpeg" width="50" height="50" />
        </div>
        <div class="contents_columns">
          {{outlet}}
        </div>
      </div>
    </div>
    <footer>
    </footer>
  </div>
</div>
