<div class="body_background">

  <header {{bindAttr class="pageClass"}}>
    <div class="header_container">
      <div class="history_navigation">
        {{#linkTo "index"}}Back{{/linkTo}}
      </div>
      <div class="picture">
      </div>
      <div class="content">
        <h1>
          {{#linkTo "index"}}Alex's Quest{{/linkTo}}
        </h1>
        <div id="about_header">
          I am Alexandre, software developer at Stack Builders.
        </div>
      </div>
    </div>
  </header>

  <div id="global">
    <div id="main">
      <div class="main_container">
        <div class="contents_columns">
          {{outlet}}
        </div>
      </div>
    </div>
  </div>
</div>

<footer>
  <div class="content">
    {{#linkTo 'about'}}About{{/linkTo}}
    - <a href="http://twitter.com/kurko" target="twitter">Twitter</a>
    - <a href="http://github.com/kurko" target="github">Github</a>
    - Developed with Ember.js
  </div>
</footer>
