<div class="content">
  <h1 class="category">Software</h1>
  {{render "texts/index" software_index}}
</div>

<div class="content">
  <h1 class="category">Essays</h1>
  {{render "texts/index" essays_index}}
</div>

<div class="content">
  <h1 class="category">Personal & Off-Topic</h1>
  {{render "texts/index" personal_index}}
</div>
