.full_text
  width: 680px
  margin: 0 auto

  code
    padding: 3px
    font-family: "Monaco", monospace
    font-size: 0.9em
    background: #eee
    font-weight: bold

  blockquote
    color: #666
    border-left: 1px solid #ccc
    padding-left: 15px
    font-style: italic

  img
    max-width: 670px
    border-radius: 3px

  div.image_caption
    margin-top: -20px
    font-size: 0.8em
    color: #888
    text-align: right
    padding-right: 15px
