$theme_color: #0C79A3

body
  font-size: 100%
  color: #555
  font-family: "Helvetica Neue", "Verdana", "Arial", "Sans-serif"
  background: #fdfdfd

  -webkit-font-smoothing: antialiased
  -moz-font-smoothing: antialiased
  -ms-font-smoothing: antialiased
  font-smoothing: antialiased

  -moz-text-shadow: 0 0 1px rgba(0, 0, 0, 0.01)
  -ms-text-shadow: 0 0 1px rgba(0, 0, 0, 0.01)
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.01)

  -webkit-text-stroke: 1px transparent
  -moz-text-stroke: 1px transparent
  -ms-text-stroke: 1px transparent
  text-stroke: 1px transparent

h1, h2, h3, h4, h5
  font-weight: 200
  .content &
    line-height: 26px

h2.title
  margin-bottom: 15px

a
  color: $theme_color
  text-decoration: none

a:hover
  color: lighten($theme_color, 10%)
  text-decoration: none
  transition: 0.3s

p, ul
  margin-bottom: 20px
  line-height: 1.8em

  a
    color: $theme_color

ul
  margin: 0 0 15px 15px

span.detail
  font-size: 0.9em
  color: #777

#global
  width: 960px
  display: table
  margin: 0px auto

.internal
  margin-top: 15px

header
  border-bottom: 1px solid #eee

  &.index .history_navigation
    display: none

  .history_navigation
    a
      background: image-url("navigation_arrow_left_dark.png") no-repeat
      background-position: 0 1px
      padding: 0 0 5px 12px
      margin-left: 5px
      display: relative
      top: 3px
      &:hover
        text-decoration: none
        opacity: 0.7
        -webkit-transition: 200ms linear
        -moz-transition: 200ms linear
        -o-transition: 200ms linear
        -ms-transition: 200ms linear
        transition: 200ms linear

  .picture
    display: none
    width: 200px
    float: left
  h1
    font-size: 0.9em
    margin: 0 auto
    display: table
    text-transform: uppercase

  .header_container
    width: 960px
    margin: 0 auto
    padding: 13px 0 10px 0
    display: table

  #about_header
    text-align: center
    margin: 15px auto
    margin-top: 18px
    display: table
    font-weight: bold
    font-size: 1em

  &.index
    .picture
      border-radius: 1000px
      overflow: hidden
      display: table
      margin: 20px 0 0 10px
      width: 170px
      height: 170px
      float: left
      box-shadow: inset 3px 3px 8px rgba(0, 0, 0, 0.3)
      background: image-url("personal/me.jpg") no-repeat -10px -10px

    .content
      width: 680px
      float: left
      display: table

    #about_header
      text-align: center
      margin: 15px auto
      margin-top: 18px
      font-weight: 200
      display: table
      font-size: 3em

body.content_layout
  header #about_header
    margin: 0
    text-align: left
    font-size: 1.4em

.big_picture
  background: #111
  margin: 15px 0 15px 0
  border-radius: 4px
  overflow: hidden
  width: 960px
  height: 350px

  .description
    background: rgba(0, 0, 0, 0.7)
    color: #bbb
    display: table
    position: relative
    bottom: 30px
    right: 13px
    float: right
    padding: 4px 7px
    border-radius: 2px
    font-size: 0.7em
    text-transform: uppercase
    a
      color: inherit
    a:hover
      color: lighten($theme_color, 25%)

.index_submenu
  display: table
  width: 100%
  margin: 0 0 25px 0
  text-align: right

  .alignment
    display: table
    margin: 0 auto

  a
    font-size: 0.8em
    display: table
    float: right
    margin: 0 5px 0 0
    padding: 3px 8px
    background: #f1f1f1
    -moz-border-radius-bottomright: 5px
    -moz-border-radius-bottomleft: 5px
    border-bottom-right-radius: 5px
    border-bottom-left-radius: 5px

  a:hover
    background: #f5f5f5

#main
  display: table
  width: 960px

  #photos_line
    margin-bottom: 15px
    display: table
    text-align: center
    width: 100%
    font-size: 0

    img
      margin-left: 3px
    img:first-child
      margin-left: 0

  a#twitter
    height: 50px
    display: table

    &.content
      width: 240px
      background: image-url("application/twitter.png") no-repeat

    &.home
      width: 200px
      background: image-url("application/twitter_home.png") no-repeat

    &:hover
      background-position: 0 -50px

  .contents_columns

    // see articles.sass for more .full_text style
    .internal
      h1
        font-size: 2.6em
        margin-bottom: 15px
        color: $theme_color
      h2
        font-weight: bold
        margin-bottom: 20px
        a
          font-size: 0.6em !important
          font-weight: normal
          text-decoration: none

      ul
        margin: 0 0 15px 25px

      a
        text-decoration: underline

      .gist
        margin-bottom: 20px

        .gist-file
          border-radius: 5px

          .line
            line-height: 18px

        .gist-data.gist-syntax
          border-bottom: 0 !important
          border-radius: 5px

        .gist-meta
          display: none

      span.text_block
        width: 200px
        font-size: 0.8em
        background: #F8F8FF
        border-radius: 5px
        padding: 10px
        border: 1px solid #ddd

        &.right
          float: right
          margin: 0 0 0 10px

        &.left
          float: left
          margin: 0 10px 0 0

      .indent
        margin: 0 0 0 25px
        display: table

      hr
        display: block
        border: 0
        border-bottom: 1px solid #bbb
        margin: 25px 0 25px 0


    .content
      display: table
      float: left
      width: 300px
      margin: 0 20px 0 0

      &.content-2
        width: 620px

      &:last-child
        margin: 0

      h1
        font-size: 0.8em
        text-transform: uppercase
        margin-bottom: 15px

  .main_content_columns
    width: 680px
    float: left

  .secondary_column
    width: 260px
    float: right
    background-color: #f4f4f4
    border: 1px solid #ebede7

    .container
      margin: 10px

    h1
      font-size: 1.5em
      margin-bottom: 15px

footer
  border-top: 1px solid #ebede7
  margin-top: 10px
  background: #fafafa

  .content
    display: table
    margin: 10px auto
    padding: 10px
    font-size: 0.8em
