body {
  font-size: 76%;
  font-family: "Lucida Sans";
  background: image-url("application/background.png");
}

h1, h2, h3, h4, h5 { 
  font-family: "Myriad Pro";
}

a { color: #512c00; text-decoration: none; }
a:hover { text-decoration: underline; }
p {
  margin-bottom: 15px; line-height: 22px;

  a {
    color: #c30000;
  }
}

ul {
  margin: 0 0 15px 15px;

  li { margin: 3px; }
}

span.detail {
  font-size: 0.9em;
  color: #777;
}

#global {
  width: 960px;
  display: table;
  margin: 0px auto;
}

header {
  border-bottom: 1px solid #ebede7;
  margin-bottom: 10px;
  background-color: #f2f2f2;

  .header_container {
    width: 960px;
    margin: 0 auto;
    padding: 13px 0 10px 0;
  }

  #about_header {
    font-family: "Myriad Pro";
    text-align: center;
    width: 800px;
    margin: 15px auto;
    margin-top: 18px;
    display: table;
    font-size: 3em;
    font-weight: bold;
  }
}

body.content_layout {
  header #about_header {
    margin: 0;
    text-align: left;
    font-size: 1.4em;
  }
}

#main {
  display: table;
  width: 960px;

  #photos_line {
    margin-bottom: 15px;
    display: table;
    text-align: center;
    width: 100%;
    font-size: 0;
    
    img { margin-left: 3px; }
    img:first-child { margin-left: 0; }
  }

  .contents_columns {
    .content {
      display: table;
      float: left;
      width: 225px;
      margin: 0 0 0 20px;

      h1 {
        font-size: 1.2em;
        font-weight: bold;
        margin-bottom: 15px;
      }

      #highlights {
        h1 {
          margin-bottom: 12px;
        }
      }
    }

    .content:first-child {
      margin: 0;
    }
  }

  .main_content_columns {
    width: 680px;
    float: left;
  }

  .secondary_column {
    width: 260px;
    float: right;
    background-color: #f4f4f4;
    border: 1px solid #ebede7;

    .container {
      margin: 10px;
    }

    h1 { font-size: 1.5em; margin-bottom: 15px; }
  }
}
